flows.json
[
    {
        "id": "7676309c.b164e",
        "type": "tab",
        "label": "Einstellungen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0b9c4d3.de0438",
        "type": "ui_button",
        "z": "7676309c.b164e",
        "name": "",
        "group": "703dd755.a21938",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Neustart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "autorenew",
        "payload": "System wird neu gestartet",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "1b57d16.7c1772f",
                "f8046e38.edb7"
            ]
        ]
    },
    {
        "id": "1b57d16.7c1772f",
        "type": "exec",
        "z": "7676309c.b164e",
        "command": "sudo reboot #",
        "addpay": false,
        "append": "now",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "Reboot",
        "x": 480,
        "y": 560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "86759384.8e199",
        "type": "ui_button",
        "z": "7676309c.b164e",
        "name": "",
        "group": "703dd755.a21938",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update System",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "system_update_alt",
        "payload": "Gestartet",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "d54316a6.d2be98",
                "77dfebb7.d6aa64"
            ]
        ]
    },
    {
        "id": "d54316a6.d2be98",
        "type": "exec",
        "z": "7676309c.b164e",
        "command": "sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get clean && sudo apt-get autoremove -y",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Update System",
        "x": 460,
        "y": 720,
        "wires": [
            [
                "622dc4c7.c3e6dc"
            ],
            [
                "2473c4ad.05a1ec"
            ],
            []
        ]
    },
    {
        "id": "6821d895.1d3af8",
        "type": "inject",
        "z": "7676309c.b164e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "364d056.4db7ffa"
            ]
        ]
    },
    {
        "id": "364d056.4db7ffa",
        "type": "function",
        "z": "7676309c.b164e",
        "name": "Datum / Uhrzeit",
        "func": "var now = new Date();\nvar year = now.getFullYear();\nvar month = now.getMonth()+1;\nvar day = now.getDate();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\nvar second = now.getSeconds();\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}\nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}\nmsg.payload = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "e573df65.04e1c"
            ]
        ]
    },
    {
        "id": "e573df65.04e1c",
        "type": "ui_text",
        "z": "7676309c.b164e",
        "group": "703dd755.a21938",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Datum / Uhrzeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "d4ee0234.726e4",
        "type": "ui_button",
        "z": "7676309c.b164e",
        "name": "",
        "group": "703dd755.a21938",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Synchronisiere Datum / Zeit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "access_time",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "ce122b8f.34df88"
            ]
        ]
    },
    {
        "id": "ce122b8f.34df88",
        "type": "exec",
        "z": "7676309c.b164e",
        "command": "sudo date -s \"$(curl -s --head http://google.ch | grep ^Date: | sed 's/Date: //g')\"",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Synchronisiere Zeit",
        "x": 490,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "77dfebb7.d6aa64",
        "type": "ui_toast",
        "z": "7676309c.b164e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Update System",
        "name": "",
        "x": 450,
        "y": 780,
        "wires": []
    },
    {
        "id": "195813.aa0eb7ed",
        "type": "ui_toast",
        "z": "7676309c.b164e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Update System",
        "name": "",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "c72fd3ac.114df",
        "type": "ui_toast",
        "z": "7676309c.b164e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Update System",
        "name": "",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "622dc4c7.c3e6dc",
        "type": "function",
        "z": "7676309c.b164e",
        "name": "",
        "func": "msg.payload = \"Abgeschlossen\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "c72fd3ac.114df"
            ]
        ]
    },
    {
        "id": "2473c4ad.05a1ec",
        "type": "function",
        "z": "7676309c.b164e",
        "name": "",
        "func": "msg.payload = \"Fehler\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 740,
        "wires": [
            [
                "195813.aa0eb7ed"
            ]
        ]
    },
  {
    "id": "f8046e38.edb7",
    "type": "ui_toast",
    "z": "7676309c.b164e",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "topic": "Neustart",
    "name": "",
    "x": 490,
    "y": 620,
    "wires": []
  },
    {
        "id": "703dd755.a21938",
        "type": "ui_group",
        "z": "",
        "name": "System",
        "tab": "220e217.eaaf1de",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "220e217.eaaf1de",
        "type": "ui_tab",
        "z": "",
        "name": "Einstellungen",
        "icon": "settings",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]