flows/schnupperlehre/logikaufgabe.json
[
    {
        "id": "3b39b9b8.4f24a6",
        "type": "tab",
        "label": "logikaufgabe",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64c8491.fd2a3b8",
        "type": "led",
        "z": "3b39b9b8.4f24a6",
        "name": "",
        "x": 110,
        "y": 320,
        "wires": []
    },
    {
        "id": "8fc93677.3029e8",
        "type": "function",
        "z": "3b39b9b8.4f24a6",
        "name": "MotorRein",
        "func": "msg.payload = \"0000ff\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "43d61395.63f50c",
        "type": "function",
        "z": "3b39b9b8.4f24a6",
        "name": "MotorRaus",
        "func": "msg.payload = \"00ff00\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a25e22dc.e0642",
        "type": "switch",
        "z": "3b39b9b8.4f24a6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d5ad6868.74a628",
        "type": "BooleanLogic",
        "z": "3b39b9b8.4f24a6",
        "name": "",
        "operation": "AND",
        "inputCount": 2,
        "topic": "i",
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "389fca9f.a0d7f6",
        "type": "ui_switch",
        "z": "3b39b9b8.4f24a6",
        "name": "snsSonne",
        "label": "snsSonne",
        "tooltip": "",
        "group": "b2ed46e6.33ef38",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Sonne",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 120,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5ae1e770.4b8428",
        "type": "inject",
        "z": "3b39b9b8.4f24a6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b2ed46e6.33ef38",
        "type": "ui_group",
        "z": "",
        "name": "LogicInput",
        "tab": "13f5c0c5.697b1f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "13f5c0c5.697b1f",
        "type": "ui_tab",
        "z": "",
        "name": "Bee",
        "icon": "forumbee",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]