flows/Einparkampel/start.json
[
  {
    "id": "382cb100.de6fde",
    "type": "tab",
    "label": "Einparkampel",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d5c15aa2.a9d5b8",
    "type": "function",
    "z": "382cb100.de6fde",
    "name": "Rot",
    "func": "msg.payload = \"ff0000\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 190,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "9c432bf0.5f98c8",
    "type": "function",
    "z": "382cb100.de6fde",
    "name": "Gelb",
    "func": "msg.payload = \"d5ff00\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 190,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "6e8a3c4e.a24984",
    "type": "function",
    "z": "382cb100.de6fde",
    "name": "Grün",
    "func": "msg.payload = \"00ff00\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 190,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "644440a3.0ad1d",
    "type": "inject",
    "z": "382cb100.de6fde",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "0.1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 190,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "56d910df.74984",
    "type": "proximity",
    "z": "382cb100.de6fde",
    "name": "",
    "x": 180,
    "y": 120,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "8fdb94a6.8c1ae8",
    "type": "switch",
    "z": "382cb100.de6fde",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "",
        "vt": "num"
      },
      {
        "t": "btwn",
        "v": "",
        "vt": "num",
        "v2": "",
        "v2t": "num"
      },
      {
        "t": "lt",
        "v": "",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 190,
    "y": 180,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "6aae5bf8.a1adc4",
    "type": "led",
    "z": "382cb100.de6fde",
    "name": "",
    "x": 190,
    "y": 360,
    "wires": []
  }
]