flows/Einparkampel/start.json
[
    {
        "id": "55a17376.dbbb4c",
        "type": "tab",
        "label": "Einparkampel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "28b38f71.883be",
        "type": "function",
        "z": "55a17376.dbbb4c",
        "name": "Rot",
        "func": "msg.payload = \"ff0000\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9ebe4bc7.ba5438",
        "type": "function",
        "z": "55a17376.dbbb4c",
        "name": "Gelb",
        "func": "msg.payload = \"d5ff00\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6e78cdb1.7c2b74",
        "type": "function",
        "z": "55a17376.dbbb4c",
        "name": "Gruen",
        "func": "msg.payload = \"00ff00\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "744a7f09.a4b78",
        "type": "inject",
        "z": "55a17376.dbbb4c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "13b4cc13.f93284",
        "type": "proximity",
        "z": "55a17376.dbbb4c",
        "name": "",
        "x": 180,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b57a13a5.53ac7",
        "type": "switch",
        "z": "55a17376.dbbb4c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "",
                "vt": "num",
                "v2": "",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "",
                "vt": "num",
                "v2": "",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 190,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
  {
    "id": "14361166.dd051f",
    "type": "led",
    "z": "55a17376.dbbb4c",
    "name": "",
    "x": 190,
    "y": 360,
    "wires": []
  }
]