flows/Einparkampel/start.json
[
    {
        "id": "42a49c7f.ce9f34",
        "type": "tab",
        "label": "Einparkampel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "59fa09b3.fa2158",
        "type": "function",
        "z": "42a49c7f.ce9f34",
        "name": "Rot",
        "func": "msg.payload = \"ff0000\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3b686841.3277f8",
        "type": "function",
        "z": "42a49c7f.ce9f34",
        "name": "Gelb",
        "func": "msg.payload = \"d5ff00\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e56d0d10.194e6",
        "type": "function",
        "z": "42a49c7f.ce9f34",
        "name": "Gruen",
        "func": "msg.payload = \"00ff00\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7a6f9b49.5ab2d4",
        "type": "inject",
        "z": "42a49c7f.ce9f34",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9fa51001.afeea",
        "type": "proximity",
        "z": "42a49c7f.ce9f34",
        "name": "",
        "x": 180,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "333a21ae.ae761e",
        "type": "switch",
        "z": "42a49c7f.ce9f34",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "",
                "vt": "num"
            },
          {
            "t": "btwn",
            "v": "",
            "vt": "num",
            "v2": "",
            "v2t": "num"
          },
            {
                "t": "gt",
                "v": "",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 190,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "447d89d2.815ee8",
        "type": "led",
        "z": "42a49c7f.ce9f34",
        "name": "",
        "x": 190,
        "y": 360,
        "wires": []
    }
]