flows/vorlage.json
[
    {
        "id": "3b39b9b8.4f24a6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8126e207.74fc",
        "type": "tab",
        "label": "Einstellungen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5aa3dc24.0bdef4",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0066cc",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0066cc",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Roche",
                "default": "#4B7930",
                "baseColor": "#0066cc",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0066cc",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Roche Berufsbildung",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "888d072a.b35c88",
        "type": "ui_group",
        "z": "",
        "name": "-",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4e51695c.ed0528",
        "type": "ui_link",
        "z": "",
        "name": "Roche Berufsbildung",
        "link": "https://lehre.roche.com",
        "icon": "fa-graduation-cap",
        "target": "iframe",
        "order": 6
    },
    {
        "id": "cccf3ee5.fb3fd",
        "type": "ui_group",
        "z": "",
        "name": "-",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fdf747d0.4fc068",
        "type": "ui_group",
        "z": "",
        "name": "-",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3a5e1164.aa1e7e",
        "type": "ui_group",
        "z": "",
        "name": "-",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d9e6e166.7a19d",
        "type": "ui_group",
        "z": "",
        "name": "-",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9b12b9e9.69c5a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3a5e1164.aa1e7e",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2edd9fac.2d57d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "888d072a.b35c88",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a13223df.7c82d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cccf3ee5.fb3fd",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "78f9d5ee.b362ac",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fdf747d0.4fc068",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a7fb66fc.b9fcf8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d9e6e166.7a19d",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "220e217.eaaf1de",
        "type": "ui_tab",
        "z": "",
        "name": "Einstellungen",
        "icon": "settings",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "703dd755.a21938",
        "type": "ui_group",
        "z": "",
        "name": "System",
        "tab": "220e217.eaaf1de",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "b9cdb163.22e3d",
        "type": "ui_group",
        "z": "",
        "name": "WLAN",
        "tab": "220e217.eaaf1de",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "345b7ebe.a37a22",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "703dd755.a21938",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "233c656a.f0b29a",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "dc923ed2.bff9f",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "f5c5cee4.06aec",
        "type": "ui_button",
        "z": "8126e207.74fc",
        "name": "",
        "group": "703dd755.a21938",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Neustart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "autorenew",
        "payload": "System wird neu gestartet",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "6d01ee34.58ef4",
                "9e7df96b.09b918"
            ]
        ]
    },
    {
        "id": "6d01ee34.58ef4",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "sudo reboot #",
        "addpay": false,
        "append": "now",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "Reboot",
        "x": 400,
        "y": 500,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6ccbb9e8.b2dec8",
        "type": "ui_button",
        "z": "8126e207.74fc",
        "name": "",
        "group": "703dd755.a21938",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update System",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "system_update_alt",
        "payload": "Gestartet",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "587c04b4.142b1c",
                "c693ed44.1c9ac"
            ]
        ]
    },
    {
        "id": "587c04b4.142b1c",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get clean && sudo apt-get autoremove -y",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Update System",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "dbcc76d9.190438"
            ],
            [
                "f0e58192.4f114"
            ],
            []
        ]
    },
    {
        "id": "48d1a4f9.83362c",
        "type": "inject",
        "z": "8126e207.74fc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8cf6cf39.29d79",
                "21b9749f.20bc9c",
                "b5eea5e4.cbe358",
                "cd69023d.54427",
                "f71bed1f.41d17"
            ]
        ]
    },
    {
        "id": "8cf6cf39.29d79",
        "type": "function",
        "z": "8126e207.74fc",
        "name": "Datum / Uhrzeit",
        "func": "var now = new Date();\nvar year = now.getFullYear();\nvar month = now.getMonth()+1;\nvar day = now.getDate();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\nvar second = now.getSeconds();\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}\nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}\nmsg.payload = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "bb7f08fe.f48308"
            ]
        ]
    },
    {
        "id": "bb7f08fe.f48308",
        "type": "ui_text",
        "z": "8126e207.74fc",
        "group": "703dd755.a21938",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Datum / Uhrzeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "34589008.6e3fc",
        "type": "ui_button",
        "z": "8126e207.74fc",
        "name": "",
        "group": "703dd755.a21938",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Synchronisiere Datum / Zeit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "access_time",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "533ad9b8.e6d2d8"
            ]
        ]
    },
    {
        "id": "533ad9b8.e6d2d8",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "sudo date -s \"$(curl -s --head http://google.ch | grep ^Date: | sed 's/Date: //g')\"",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Synchronisiere Zeit",
        "x": 410,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c693ed44.1c9ac",
        "type": "ui_toast",
        "z": "8126e207.74fc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Update System",
        "name": "",
        "x": 370,
        "y": 720,
        "wires": []
    },
    {
        "id": "55805580.fcd6dc",
        "type": "ui_toast",
        "z": "8126e207.74fc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Update System",
        "name": "",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "e23610e2.698d6",
        "type": "ui_toast",
        "z": "8126e207.74fc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Update System",
        "name": "",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "dbcc76d9.190438",
        "type": "function",
        "z": "8126e207.74fc",
        "name": "Done",
        "func": "msg.payload = \"Abgeschlossen\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 640,
        "wires": [
            [
                "e23610e2.698d6"
            ]
        ]
    },
    {
        "id": "f0e58192.4f114",
        "type": "function",
        "z": "8126e207.74fc",
        "name": "Error",
        "func": "msg.payload = \"Fehler\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "55805580.fcd6dc"
            ]
        ]
    },
    {
        "id": "9e7df96b.09b918",
        "type": "ui_toast",
        "z": "8126e207.74fc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Neustart",
        "name": "",
        "x": 410,
        "y": 560,
        "wires": []
    },
    {
        "id": "21b9749f.20bc9c",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "vcgencmd measure_temp | egrep -o '[0-9]*\\.[0-9]*'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "CPU Temperatur",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "66171bb4.417c34"
            ],
            [],
            []
        ]
    },
  {
    "id": "66171bb4.417c34",
    "type": "ui_text",
    "z": "8126e207.74fc",
    "group": "703dd755.a21938",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "CPU Temperatur",
    "format": "{{msg.payload}} °C",
    "layout": "row-spread",
    "x": 590,
    "y": 100,
    "wires": []
  },
    {
        "id": "b5eea5e4.cbe358",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "grep 'cpu ' /proc/stat | awk '{usage=($2+$4)*100/($2+$4+$5)} END {printf \"%.2f\",usage}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "CPU Last",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "c717d2e8.aee88"
            ],
            [],
            []
        ]
    },
    {
        "id": "cd69023d.54427",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "(free | awk '/Mem/{printf(\"RAM Usage: %.2f\\n\"), $3/$2*100}'| awk '{print $3}')",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "RAM",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "86449883.398d08"
            ],
            [],
            []
        ]
    },
    {
        "id": "f71bed1f.41d17",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "awk '/MemFree/ { printf \"%.0f \\n\", $2/1024 }' /proc/meminfo",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Freier Speicher",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "aacba521.c7e258"
            ],
            [],
            []
        ]
    },
    {
        "id": "aacba521.c7e258",
        "type": "ui_text",
        "z": "8126e207.74fc",
        "group": "703dd755.a21938",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Freier Speicher",
        "format": "{{msg.payload}} MB",
        "layout": "row-spread",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "30358cdc.9b9eb4",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "wpa_cli scan",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "Scan Wifi",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "b3204a54.093d68"
            ],
            [],
            []
        ]
    },
    {
        "id": "b3204a54.093d68",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "wpa_cli scan_results",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "List Wifi",
        "x": 460,
        "y": 820,
        "wires": [
            [
                "9834a9b3.3751f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "cc107.327f8efa",
        "type": "ui_template",
        "z": "8126e207.74fc",
        "group": "b9cdb163.22e3d",
        "name": "WLANs",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<html>\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <meta charset=\"utf-8\">\n</head>\n\n<body>\n    <div id=\"renderList\" class=\"nr-dashboard-button ng-scope _md visible\"></div>\n\n</body>\n\n<script>\n    var list = document.getElementById('renderList');\n\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            ssidList = data;\n            \n            if(Array.isArray(ssidList)){\n                list.innerHTML = '';\n                ssidList.forEach(renderSSIDList);\n            }\n        });\n        \n        function renderSSIDList(element, index, arr) {\n            var bttn = document.createElement('button');\n            bttn.onclick = function(){scope.send({payload: \"\\\"\" + element + \"\\\"\"})};\n            bttn.innerHTML=bttn.innerHTML + element;\n            bttn.classList.add(\"md-button\");\n            \n            list.appendChild(bttn);\n            p=document.createElement('p');\n            list.appendChild(p);\n        }\n        \n    })(scope);\n</script>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 800,
        "y": 820,
        "wires": [
            [
                "9e976332.036da"
            ]
        ]
    },
    {
        "id": "c717d2e8.aee88",
        "type": "ui_gauge",
        "z": "8126e207.74fc",
        "name": "",
        "group": "703dd755.a21938",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CPU",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "86449883.398d08",
        "type": "ui_gauge",
        "z": "8126e207.74fc",
        "name": "",
        "group": "703dd755.a21938",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "RAM",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "9834a9b3.3751f8",
        "type": "function",
        "z": "8126e207.74fc",
        "name": "Split SSID",
        "func": "var wifi = msg.payload.split('\\n');\n\nssid = [];\n\nfor(var i = 2; i < wifi.length-1; i++){\n    ssid[i-2] = wifi[i].slice(wifi[i].lastIndexOf('\\t')+1,wifi[i].length);\n}\n\nssid = ssid.filter(function(elem, pos) {\n    return ssid.indexOf(elem) == pos;\n})\n\nmsg.payload = ssid;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "cc107.327f8efa"
            ]
        ]
    },
    {
        "id": "9e72cb00.677788",
        "type": "function",
        "z": "8126e207.74fc",
        "name": "Split Wifi",
        "func": "var wifis = msg.payload.split('\\n');\nvar wifi = wifis[0];\nwifi = wifi.split('\\t');\n\nif(wifi[3].includes(\"WPA2\")){\n    wifi[3] = \"WPA-PSK\";\n}\nelse{\n    wifi[3] = \"NONE\";\n}\n\n\nmsg.payload = wifi; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 820,
        "wires": [
            [
                "4f85ea9f.710004"
            ]
        ]
    },
    {
        "id": "9e976332.036da",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "wpa_cli scan_results | grep ",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "Wifi Detail",
        "x": 960,
        "y": 820,
        "wires": [
            [
                "9e72cb00.677788"
            ],
            [],
            []
        ]
    },
    {
        "id": "4f85ea9f.710004",
        "type": "ui_template",
        "z": "8126e207.74fc",
        "group": "b9cdb163.22e3d",
        "name": "Connect",
        "order": 2,
        "width": "7",
        "height": "3",
        "format": "<html>\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <meta charset=\"utf-8\">\n</head>\n\n<body>\n    <md-card class=\"nr-dashboard-form visible\">\n    <form class=\"ng-pristine \">\n    \n    <p id=\"ssid\" class=\"formlabel ng-binding ng-scope\"></p>\n    \n    <p id=\"pwfield\">\n    <md-input-container class=\"md-block flex md-input-invalid\"> \n    <label class=\"ng-binding ng-scope md-required\">Passwort</label>\n    <input type=\"password\" id=\"pwd\" class=\"ng-invalid\">\n    <div class=\"md-errors-spacer\"></div>\n    </md-input-container>\n    </p>\n    \n    <br>\n    \n    <md-button id=\"connect\">Verbinden</button>\n    \n    </form>\n    </md-card>\n\n</body>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            var wifi = data; \n            \n            if(Array.isArray(wifi)){\n                document.getElementById(\"ssid\").innerHTML = wifi[4];\n                \n                if(wifi[3] == \"NONE\"){\n                    document.getElementById('pwfield').hidden = true;\n                    document.getElementById('pwfield').required = true;\n                }\n                else{\n                    document.getElementById('pwfield').hidden = false;\n                    document.getElementById('pwfield').required = true;\n                }\n                \n                var btn = document.getElementById('connect');\n                btn.classList.add(\"md-button\");\n                btn.onclick = function(){\n                    if(wifi[3] != \"NONE\"){\n                        scope.send({payload: wifi[4] + \"\\n\" + wifi[3] + \"\\n\" + document.getElementById(\"pwd\").value});\n                    }\n                    else{\n                        scope.send({payload: wifi[4] + \"\\n\" + wifi[3] + \"\\n\" + \"\"});\n                    }\n                };\n                btn.innerHTML = \"Verbinden\";\n            }\n        });\n    })(scope);\n</script>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1280,
        "y": 820,
        "wires": [
            [
                "7c3056b5.ec0ff8",
                "71cb55e7.eeff6c"
            ]
        ]
    },
    {
        "id": "62821167.bf5e9",
        "type": "inject",
        "z": "8126e207.74fc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 820,
        "wires": [
            [
                "30358cdc.9b9eb4"
            ]
        ]
    },
    {
        "id": "88a6454b.baaa08",
        "type": "function",
        "z": "8126e207.74fc",
        "name": "Split Login",
        "func": "var login = msg.payload.split(\"\\n\");\n\nvar ssid = {payload: \"'\\\"\" + login[0] + \"\\\"'\"};\nvar crypt = {payload: \"'\" + login[1] + \"'\"};\nvar key = {payload:\"'\\\"\" + login[2] + \"\\\"'\"};\n\nreturn [ssid,crypt,key];",
        "outputs": 3,
        "noerr": 0,
        "x": 1690,
        "y": 820,
        "wires": [
            [
                "865b76d9.785408"
            ],
            [
                "644ed510.1abaec"
            ],
            [
                "65aa56d7.4919d8"
            ]
        ]
    },
    {
        "id": "865b76d9.785408",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "wpa_cli -i wlan0 set_network 0 ssid ",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "Set SSID",
        "x": 1860,
        "y": 760,
        "wires": [
            [
                "185282cc.f5aa2d"
            ],
            [],
            []
        ]
    },
    {
        "id": "65aa56d7.4919d8",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "wpa_cli -i wlan0 set_network 0 psk ",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "3",
        "oldrc": false,
        "name": "Set Key",
        "x": 1860,
        "y": 880,
        "wires": [
            [
                "f61130ee.1a9c",
                "185282cc.f5aa2d"
            ],
            [],
            []
        ]
    },
    {
        "id": "644ed510.1abaec",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "wpa_cli -i wlan0 set_network 0 key_mgmt ",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "2",
        "oldrc": false,
        "name": "Set Crypt",
        "x": 1860,
        "y": 820,
        "wires": [
            [
                "185282cc.f5aa2d"
            ],
            [],
            []
        ]
    },
    {
        "id": "e557f3c9.818a",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "wpa_cli -i wlan0 save_config",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "Update Wifi",
        "x": 2190,
        "y": 820,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f61130ee.1a9c",
        "type": "delay",
        "z": "8126e207.74fc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2020,
        "y": 820,
        "wires": [
            [
                "e557f3c9.818a"
            ]
        ]
    },
    {
        "id": "4082a4a8.48598c",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "wpa_cli -i wlan0 reconfigure",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "Reinit Wifi",
        "x": 2360,
        "y": 820,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3ed6e711.4b7918",
        "type": "python3-function",
        "z": "8126e207.74fc",
        "name": "",
        "func": "f = open(\"/etc/wpa_supplicant/wpa_supplicant.conf\", \"r\")\ncontent = f.read()\nhead = content.split(\"network\")[0]\n\nlogin = msg['payload'].split(\"\\n\");\nssid = login[0]\ncrypt = login[1]\nkey = login[2]\n\nmessage = head + \"\\n\\nnetwork={\\n\\tssid=\\\"\" + ssid + \"\\\"\\n\\tkey_mgmt=\" + crypt + \"\\n\\tpsk=\\\"\" + key + \"\\\"\\n}\"\n\nmsg['payload'] = \"sudo bash -c 'echo \\\"\" + message + \"\\\"' > /etc/wpa_supplicant/wpa_supplicant.conf\"\nos.system(msg['payload'])\n\nreturn msg\n",
        "outputs": 1,
        "x": 1670,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "185282cc.f5aa2d",
        "type": "debug",
        "z": "8126e207.74fc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1870,
        "y": 1020,
        "wires": []
    },
  {
    "id": "7c3056b5.ec0ff8",
    "type": "exec",
    "z": "8126e207.74fc",
    "command": "wpa_cli -i wlan0 remove_network 0",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "1",
    "oldrc": false,
    "name": "Remove Network",
    "x": 1430,
    "y": 960,
    "wires": [
      [
        "fe4b2734.553798",
        "185282cc.f5aa2d"
      ],
      [],
      []
    ]
  },
    {
        "id": "fe4b2734.553798",
        "type": "exec",
        "z": "8126e207.74fc",
        "command": "wpa_cli -i wlan0 add_network 0",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "Add Network",
        "x": 1630,
        "y": 960,
        "wires": [
            [
                "185282cc.f5aa2d"
            ],
            [],
            []
        ]
    },
    {
        "id": "71cb55e7.eeff6c",
        "type": "delay",
        "z": "8126e207.74fc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1460,
        "y": 820,
        "wires": [
            [
                "88a6454b.baaa08"
            ]
        ]
    }
]