flows/vorlage.json
[
    {
        "id": "5e23fc23.6e4944",
        "type": "tab",
        "label": "Einstellungen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5aa3dc24.0bdef4",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0066cc",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0066cc",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Roche",
                "default": "#4B7930",
                "baseColor": "#0066cc",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0066cc",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Roche Berufsbildung",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9b12b9e9.69c5a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3a5e1164.aa1e7e",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2edd9fac.2d57d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "888d072a.b35c88",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a13223df.7c82d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cccf3ee5.fb3fd",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "78f9d5ee.b362ac",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fdf747d0.4fc068",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a7fb66fc.b9fcf8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d9e6e166.7a19d",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "220e217.eaaf1de",
        "type": "ui_tab",
        "name": "Einstellungen",
        "icon": "settings",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "345b7ebe.a37a22",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "703dd755.a21938",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "13f5c0c5.697b1f",
        "type": "ui_tab",
        "name": "Bee",
        "icon": "forumbee",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dcf6f66a.e5fd78",
        "type": "ui_group",
        "name": "Willkommen",
        "tab": "13f5c0c5.697b1f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "51469a5f.9d8824",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dcf6f66a.e5fd78",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "b67e7428.ee9648",
        "type": "ui_group",
        "name": "System",
        "tab": "220e217.eaaf1de",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "12518539.2fcbcb",
        "type": "ui_group",
        "name": "Wifi",
        "tab": "220e217.eaaf1de",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "ae924545.4a6518",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "12518539.2fcbcb",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe21a84987ecc6d3",
        "type": "ui_group",
        "name": "LogicInput",
        "tab": "13f5c0c5.697b1f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6eaede46.4a53e",
        "type": "ui_button",
        "z": "5e23fc23.6e4944",
        "name": "",
        "group": "b67e7428.ee9648",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Neustart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "autorenew",
        "payload": "System wird neu gestartet",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "ce857765.259f78",
                "d21bcb64.a8c5a8"
            ]
        ]
    },
    {
        "id": "ce857765.259f78",
        "type": "exec",
        "z": "5e23fc23.6e4944",
        "command": "sudo reboot #",
        "addpay": false,
        "append": "now",
        "useSpawn": "",
        "timer": "1",
        "oldrc": false,
        "name": "Reboot",
        "x": 440,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "383e8530.f2b9da",
        "type": "ui_button",
        "z": "5e23fc23.6e4944",
        "name": "",
        "group": "b67e7428.ee9648",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update System",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "system_update_alt",
        "payload": "Gestartet",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "e19a362e.61e418",
                "c58a068b.9919d8"
            ]
        ]
    },
    {
        "id": "e19a362e.61e418",
        "type": "exec",
        "z": "5e23fc23.6e4944",
        "command": "sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get clean && sudo apt-get autoremove -y && sudo /home/pi/bee_update.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Update System",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "f3e86ef0.1abe2"
            ],
            [
                "93cee51b.b441e8"
            ],
            []
        ]
    },
    {
        "id": "4258e738.b61898",
        "type": "inject",
        "z": "5e23fc23.6e4944",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "5c44e1ff.b07d4"
            ]
        ]
    },
    {
        "id": "5c44e1ff.b07d4",
        "type": "function",
        "z": "5e23fc23.6e4944",
        "name": "Datum / Uhrzeit",
        "func": "var now = new Date();\nvar year = now.getFullYear();\nvar month = now.getMonth()+1;\nvar day = now.getDate();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\nvar second = now.getSeconds();\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}\nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}\nmsg.payload = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 60,
        "wires": [
            [
                "3f4cb843.621668"
            ]
        ]
    },
    {
        "id": "3f4cb843.621668",
        "type": "ui_text",
        "z": "5e23fc23.6e4944",
        "group": "b67e7428.ee9648",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Datum / Uhrzeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "77456229.22cecc",
        "type": "ui_button",
        "z": "5e23fc23.6e4944",
        "name": "",
        "group": "b67e7428.ee9648",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Synchronisiere Datum / Zeit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "access_time",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "f760757e.dbb598"
            ]
        ]
    },
    {
        "id": "f760757e.dbb598",
        "type": "exec",
        "z": "5e23fc23.6e4944",
        "command": "sudo date -s \"$(curl -s --head http://google.ch | grep ^Date: | sed 's/Date: //g')\"",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Synchronisiere Zeit",
        "x": 450,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c58a068b.9919d8",
        "type": "ui_toast",
        "z": "5e23fc23.6e4944",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Update System",
        "name": "",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "462e1cea.42be94",
        "type": "ui_toast",
        "z": "5e23fc23.6e4944",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Update System",
        "name": "",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "ed828c8d.2a152",
        "type": "ui_toast",
        "z": "5e23fc23.6e4944",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Update System",
        "name": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "f3e86ef0.1abe2",
        "type": "function",
        "z": "5e23fc23.6e4944",
        "name": "Done",
        "func": "msg.payload = \"Abgeschlossen\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "ed828c8d.2a152"
            ]
        ]
    },
    {
        "id": "93cee51b.b441e8",
        "type": "function",
        "z": "5e23fc23.6e4944",
        "name": "Error",
        "func": "msg.payload = \"Fehler\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "462e1cea.42be94"
            ]
        ]
    },
    {
        "id": "d21bcb64.a8c5a8",
        "type": "ui_toast",
        "z": "5e23fc23.6e4944",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Neustart",
        "name": "",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "b51b465.61960b8",
        "type": "ui_form",
        "z": "5e23fc23.6e4944",
        "name": "Wifi",
        "label": "",
        "group": "12518539.2fcbcb",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "SSID",
                "value": "ssid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Passwort",
                "value": "password",
                "type": "password",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "ssid": "",
            "password": ""
        },
        "payload": "",
        "submit": "Verbinden",
        "cancel": "Abbrechen",
        "topic": "Wifi",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "a8e6a7ec.43a418"
            ]
        ]
    },
    {
        "id": "a8e6a7ec.43a418",
        "type": "function",
        "z": "5e23fc23.6e4944",
        "name": "Set SSID and PW",
        "func": "ssid = msg.payload.ssid;\npassword = msg.payload.password;\nmsg.payload = ssid + \" \" + password;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 860,
        "wires": [
            [
                "9ae42283.8d388"
            ]
        ]
    },
    {
        "id": "9ae42283.8d388",
        "type": "exec",
        "z": "5e23fc23.6e4944",
        "command": "/home/pi/bee_wifi.sh -c ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Change wpa_supplicant",
        "x": 630,
        "y": 860,
        "wires": [
            [
                "41d1c0e8.64e79"
            ],
            [],
            []
        ]
    },
    {
        "id": "41d1c0e8.64e79",
        "type": "exec",
        "z": "5e23fc23.6e4944",
        "command": "sudo wpa_cli -i wlan0 reconfigure",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Restart Network Service",
        "x": 890,
        "y": 860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "edb79158.1c359",
        "type": "exec",
        "z": "5e23fc23.6e4944",
        "command": "iwgetid -r",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Get SSID",
        "x": 400,
        "y": 660,
        "wires": [
            [
                "ae0293d2.b5041"
            ],
            [],
            []
        ]
    },
    {
        "id": "ae0293d2.b5041",
        "type": "ui_text",
        "z": "5e23fc23.6e4944",
        "group": "12518539.2fcbcb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wifi",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 610,
        "y": 660,
        "wires": []
    },
    {
        "id": "5e2e6524.f6774c",
        "type": "inject",
        "z": "5e23fc23.6e4944",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "edb79158.1c359",
                "d00943dc.55923"
            ]
        ]
    },
    {
        "id": "d00943dc.55923",
        "type": "exec",
        "z": "5e23fc23.6e4944",
        "command": "ifconfig wlan0 | grep \"inet \" | awk '{print $2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Get IP",
        "x": 390,
        "y": 720,
        "wires": [
            [
                "b1b45000.d00d2"
            ],
            [],
            []
        ]
    },
    {
        "id": "b1b45000.d00d2",
        "type": "ui_text",
        "z": "5e23fc23.6e4944",
        "group": "12518539.2fcbcb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP-Adresse",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "22a9e9c8b1ed4bed",
        "type": "inject",
        "z": "5e23fc23.6e4944",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payloadType": "date",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "f760757e.dbb598"
            ]
        ]
    }
]
