flows/Mikrowelle/Aufgabe2.json
[
    {
        "id": "8254985a.02d708",
        "type": "tab",
        "label": "Aufgabe2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e93851dc.3637a",
        "type": "io",
        "z": "8254985a.02d708",
        "name": "Popcorn-Maschine",
        "x": 870,
        "y": 260,
        "wires": [
            [],
            [
                "4f73c113.4750f"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "530c9671.6dc858",
        "type": "python3-function",
        "z": "8254985a.02d708",
        "name": "Mikrowelle_Start",
        "func": "import time\n\nisClosed = msg['payload'] <= 0\n\n\nif(isClosed):\n    msg['payload'] = True #Einschalten\n    msg['topic'] = 0 #Lüftung\n    node.send(msg)\n    \n    time.sleep(1)\n\n    msg['payload'] = True #Einschalten\n    msg['topic'] = 1 #Heizung\n    node.send(msg)",
        "outputs": 1,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "e93851dc.3637a"
            ]
        ]
    },
    {
        "id": "5873d80.61c8728",
        "type": "python3-function",
        "z": "8254985a.02d708",
        "name": "Mikrowelle_Stop",
        "func": "import time\n\nmsg['payload'] = False #ausschalten\nmsg['topic'] = 1 #Heizung\nnode.send(msg)\n\ntime.sleep(1)\n\nmsg['payload'] = False #ausschalten\nmsg['topic'] = 0 #Lüftung\nnode.send(msg)",
        "outputs": 1,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "e93851dc.3637a"
            ]
        ]
    },
    {
        "id": "161ef882.14d297",
        "type": "led",
        "z": "8254985a.02d708",
        "name": "",
        "x": 1210,
        "y": 240,
        "wires": []
    },
    {
        "id": "ee1301fb.27889",
        "type": "inject",
        "z": "8254985a.02d708",
        "name": "Intervall",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "e93851dc.3637a"
            ]
        ]
    },
    {
        "id": "282bc1a1.245dfe",
        "type": "delay",
        "z": "8254985a.02d708",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "5873d80.61c8728"
            ]
        ]
    },
    {
        "id": "4f73c113.4750f",
        "type": "function",
        "z": "8254985a.02d708",
        "name": "Türe",
        "func": "if(msg.payload == 1){   //1 = Türe zu\n    //Türe offen, Counter wird erhöht\n    var locCounterRed = global.get(\"CounterRed\") + 1;\n    global.set(\"CounterRed\",locCounterRed);\n}\nelse{\n    //zähler zurücksetzten\n    global.set(\"CounterRed\", 0)\n}\n\n\nif(locCounterRed > 2){\n    //seit mehr als 5 Aufrufen geschlossen\n    msg.payload = 'ff0000'\n}\nelse{\n    msg.payload = '00ff00'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\n\nglobal.set(\"CounterRed\",0);",
        "finalize": "",
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "161ef882.14d297"
            ]
        ]
    },
    {
        "id": "f492ed1.12f281",
        "type": "change",
        "z": "8254985a.02d708",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CounterRed",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "530c9671.6dc858"
            ]
        ]
    },
    {
        "id": "247e285.f812cd8",
        "type": "link in",
        "z": "8254985a.02d708",
        "name": " Button",
        "links": [
            "721fb433.45291c"
        ],
        "x": 195,
        "y": 100,
        "wires": [
            [
                "f492ed1.12f281",
                "282bc1a1.245dfe"
            ]
        ]
    }
]
