flows/LED Strip/start.json
[
    {
        "id": "3fb163f0.0b448c",
        "type": "tab",
        "label": "LED Strip",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb1ef743.65e0f8",
        "type": "rpi-neopixels",
        "z": "3fb163f0.0b448c",
        "name": "LED-Strip",
        "pixels": "6",
        "bgnd": "",
        "fgnd": "",
        "wipe": "1",
        "mode": "pcent",
        "rgb": "rgb",
        "brightness": "100",
        "gamma": true,
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "4dc98773.7f09e8",
        "type": "inject",
        "z": "3fb163f0.0b448c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 267.9999885559082,
        "y": 260.99999618530273,
        "wires": [
            [
                "573607a4.6b33c8"
            ]
        ]
    },
    {
        "id": "573607a4.6b33c8",
        "type": "function",
        "z": "3fb163f0.0b448c",
        "name": "Programm",
        "func": "msg.payload = \"5,0,0,100\";\nnode.send(msg);\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 260,
        "wires": [
          [
            "cb1ef743.65e0f8"
          ]
        ]
    }
]